- provide(:title, "Sign in")

%h3 Sign in
.login
  .login-social
    .login-text
      Log in with a social network:
    .login-button
      %a.btn-auth.small{class: "btn-facebook", href: "/auth/facebook"}
        Log in with
        %b Facebook
  .login-account
    .login-text
      Log in with registered details:
    = form_for(:session, url: sessions_path) do |f|
      .form-group
        = f.label :email
        = f.text_field :email
      .form-group
        = f.label :password
        = f.password_field :password
      = f.submit "Sign in", class: "btn btn-default"

  .no-account
    Don't have an account yet?
    = link_to "Register now", new_user_path, class: 'register'