<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Hey guys,
    </p>
    <p>
      A new event is pending approval:
    </p>
    <p>
      <%= @event.id %>
    </p>
    <p>
      <%= @event.title %>
    </p>
    <p>
      <%= @event.description %>
    </p>
    <p>
      <%= @event.qualifications %>
    </p>
    <p>
      <%= @event.picture %>
    </p>
    <p>
      Congrats on getting another one!
    </p>
  </body>
</html>

