!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    Hi #{@user.first_name},

    #{@requestor.first_name} has expressed interest in learning #{@lesson.skill.title} from you! Here is the request:
    %br
    = @lesson.conversation.messages.first.body
    %br

    To reply and find out more about #{@requestor.first_name}, go to your 

    %a{href: lesson_url(@lesson)} lesson request  

    %br
    %br
    Thanks!
    %br
    LearnTo Team