!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    .greeting
      Hi #{@receiver.first_name},
    %br
    .message
    #{@sender.first_name} has sent you a new message! Here is the message:      
    %br
    %br
    = @message.body
    %br
    %br
    .request
      To reply and find out more about #{@sender.first_name}, click the link below.
      %br
      %br
    %a{href: lesson_url(@message.conversation.lesson), style: "font-size: 100%"} Conversation with #{@sender.first_name} 
    %br
    %br
  .closing
    Thanks,
    %br
    LearnTo Team