<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Hey guys,
    </p>
    <p>
      A new skill is pending approval:
    </p>
    <p>
      <%= @skill.id %>
    </p>
    <p>
      <%= @skill.title %>
    </p>
    <p>
      <%= @skill.description %>
    </p>
    <p>
      <%= @skill.qualifications %>
    </p>
    <p>
      <%= @skill.picture %>
    </p>
    <p>
      Congrats on getting another one!
    </p>
  </body>
</html>

