= form_for @user, :url => (@user.new_record? ? users_path : user_path(@user)) do |f|
  = f.label 'First Name'
  = f.text_field :first_name
  =f.label 'Last Name'
  = f.text_field :last_name
  = f.label 'Email'
  = f.text_field :email
  = f.label 'Password'
  = f.password_field :password
  = f.label 'Password Confirmation'
  = f.password_field :password_confirmation
  %br
  = f.button :submit, :class=> "btn btn-primary"