= form_for @user, :url => (@user.new_record? ? users_path : user_path(@user)) do |f|
  = f.text_field :first_name
  = f.text_field :last_name
  = f.text_field :email
  = f.text_field :password
  = f.text_field :password_confirmation
  = f.button :submit