= form_for @user, :url => (@user.new_record? ? users_path : user_path(@user)) do |f|
  = hidden_field_tag :return_to, @return_to
  .form-group
    = f.text_field :first_name, class: "form-control", placeholder: "First name"
  .form-group
    = f.text_field :last_name, class: "form-control", placeholder: "Last name"
  .form-group
    .upload.btn.btn-custom
      Upload Picture
    %br
    = f.hidden_field :picture, class: "form-control"
  .form-group
    = f.text_field :email, class: "form-control", placeholder: "Email"
  .form-group
    = f.password_field :password, class: "form-control", placeholder: "Password"
  .form-group
    = f.password_field :password_confirmation, class: "form-control", placeholder: "Password confirmation"
  = f.submit "Create", class: "btn btn-custom submit"