/ Page title should be 'Jeffrey Warren - LearnTo'
- provide(:title, @user.name + " - LearnTo")

.user
  .row  
    .col-md-4
      .box
        %h3.username
          #{@user.name}
        .profile-picture
          = image_tag @user.picture
        .user-info
          - if @user.location
            .info-item
              %span.glyphicon.glyphicon-map-marker
              = @user.location
          - if @user.school
            .info-item
              %span.glyphicon.glyphicon-book
              = @user.school
          - if @user.work
            .info-item
              %span.glyphicon.glyphicon-briefcase
              = @user.work
          - if not @user.networks.empty?
            .info-item
              %span.glyphicon.glyphicon-cloud
              = @user.networks.map(&:name).join(', ')

      %h3.username
        #{@user.first_name}'s Lessons
      - @skills.each do |skill|
        = render partial: "skills/skill_short", locals: {skill_short: skill}



    .col-md-8
      .box
        - if @user == current_user
          = link_to "Edit profile", edit_user_path(@user)
        .about-section
          %h3
            About #{@user.first_name}
          .bio
            %h4 Bio
            %p
              = @user.bio

      - if not (@user.teaching_reviews.empty? and @user.learning_reviews.empty?)
        .box
          .review-section
            %h3
              Reviews
            - if not @user.teaching_reviews.empty?
              %h5 From students
            = render partial: "skills/review_short", collection: @user.teaching_reviews.reverse
            - if not @user.learning_reviews.empty?
              %h5 From teachers
            = render partial: "skills/review_short", collection: @user.learning_reviews.reverse













    /   .box
    /     %h2.heading 
          
    /     .picture-profile
    /       =image_tag @user.picture
    /     -if @user == current_user
    /       %br
    /       .btn.btn-md.btn-custom.edit-picture
    /         Edit
    /   .box
    /     - if @skills.empty? and @pending_skills.empty?
    /       - if @user==current_user
    /         %h2.heading Share what you love!
    /         .prompt
    /           We're building an awesome community of talented people where you can share what you love, learn things you've always wanted to, and meet amazing people. You're good at something, share that with us and our community!
    /         .teach-button
    /           = link_to "Teach a lesson", new_skill_path, :class => "btn btn-md btn-custom"
    /       - else
    /         %h2.heading #{@user.name} is currently not teaching anything
    /     - if not @skills.empty?
    /       .approved-lessons
    /         %h2.heading 
    /           = @user == current_user ? "My Lessons" : "#{@user.first_name}'s Lessons"
    /         - @skills.each do |skill|
    /           = render partial: "skills/skill_short", locals: {skill_short: skill}
    /     - if @pending_skills and not @pending_skills.empty?
    /       .pending-lessons
    /         %h2.heading Pending Approval
    /         - @pending_skills.each do |skill|
    /           = render partial: "skills/skill_short", locals: {skill_short: skill}
    / .col-md-8.col-md-offset
    /   .box
    /     .about
    /     %h2.heading About #{@user.first_name}
    /     .bio.info
    /       = render partial: 'edit_user', locals: {title: "About #{@user.first_name}", field_value: @user.bio, user: @user}
    /     .work.info
    /       = render partial: 'edit_user', locals: {title: "Work", field_value: @user.work, user: @user}
    /     .school.info
    /       = render partial: 'edit_user', locals: {title: "School", field_value: @user.school, user: @user}