%ul.nav.nav-tabs.nav-justified
  %li.active
    %a{href: user_path(@user.id)}
      Teaching
  %li
    %a{href: requests_users_path(id: @user.id)}
      Learning
  %br

- if not @requested_lessons.empty?
  .requested-lessons
    %h2.heading
      = "Lessons others have requested from you"
    .grid
      = @requested_lessons.each_slice(3) do |slice|
        .row
          - slice.each do |lesson|
            .col-xs-12.col-sm-6.col-md-4
              = render partial: "lessons/lesson_short", locals: {lesson_short: lesson}

- if not @scheduled_lessons.empty?
  .scheduled-lessons
    %h2.heading
      = "Scheduled Lessons"
    .grid
      = @scheduled_lessons.each_slice(3) do |slice|
        .row
          - slice.each do |lesson|
            .col-xs-12.col-sm-6.col-md-4
              = render partial: "lessons/lesson_short", locals: {lesson_short: lesson}  

- if @skills.empty? and @pending_skills.empty?
  .row
    .col-md-8.col-md-offset-2
      .box
        %h4 LearnTo
        We're building an awesome community of talented people where you can share what they're good at, learn things you've always wanted to, and meet amazing people. You're good at something, share that with us and our community!
        .teach-button
          = link_to "Teach a lesson", new_skill_path, :class => "btn btn-md btn-custom"
- if not @skills.empty?
  .approved-lessons
    %h2.heading 
      = @user == current_user ? "Your Lessons" : "#{@user.first_name}'s Lessons"
    .grid
      = @skills.each_slice(3) do |slice|
        .row
          - slice.each do |skill|
            .col-xs-12.col-sm-6.col-md-4
              = render partial: "skills/skill_short", locals: {skill_short: skill}
- if @pending_skills and not @pending_skills.empty?
  .pending-lessons
    %h2.heading Pending Approval
    .grid
      = @pending_skills.each_slice(3) do |slice|
        .row
          - slice.each do |skill|
            .col-xs-12.col-sm-6.col-md-4
              = render partial: "skills/skill_short", locals: {skill_short: skill}