-if @user==current_user
  %ul.nav.nav-tabs.nav-justified.selector
    %li.active
      %a.option{href: user_path(@user.id)}
        Profile
    %li
      %a.option{href: inbox_conversations_path}
        Inbox
    %br
.row
  .col-md-12.col-md-offset
    .box
      .about
      %h2.heading #{@user.name}
      .row
        .col-md-3
          .picture-profile
            =image_tag @user.picture
        .col-md-9.profile-col  
          .bio.info
            = render partial: 'edit_user', locals: {title: "About #{@user.first_name}", field_value: @user.bio, user: @user}
          .work.info
            = render partial: 'edit_user', locals: {title: "Work", field_value: @user.work, user: @user}
          .school.info
            = render partial: 'edit_user', locals: {title: "School", field_value: @user.school, user: @user}
- if @skills.empty? and @pending_skills.empty?
  .row
    .col-md-12.col-md-offset
      .box
        - if @user==current_user
          %h4 What I can teach
          We're building an awesome community of talented people where you can share what they're good at, learn things you've always wanted to, and meet amazing people. You're good at something, share that with us and our community!
          .teach-button
            = link_to "Teach a lesson", new_skill_path, :class => "btn btn-md btn-custom"
        -else

          %h4 #{@user.name} is currently not teaching anything
- if not @skills.empty?
  .box
    .approved-lessons
      %h2.heading 
        = @user == current_user ? "Your Lessons" : "#{@user.first_name}'s Lessons"
      .grid
        = @skills.each_slice(3) do |slice|
          .row
            - slice.each do |skill|
              .col-xs-12.col-sm-6.col-md-4
                = render partial: "skills/skill_short", locals: {skill_short: skill}
  - if @pending_skills and not @pending_skills.empty?
    .pending-lessons
      %h2.heading Pending Approval
      .grid
        = @pending_skills.each_slice(3) do |slice|
          .row
            - slice.each do |skill|
              .col-xs-12.col-sm-6.col-md-4
                = render partial: "skills/skill_short", locals: {skill_short: skill}