- provide(:title, @user.name + " - LearnTo")

.user
  .row  
    .col-md-4
      .box
        %h3.username
          #{@user.name}
        .profile-picture
          = image_tag @user.picture
        .user-info
          - if @user.location
            .info-item
              %span.glyphicon.glyphicon-map-marker
              = @user.location
          - if @user.school
            .info-item
              %span.glyphicon.glyphicon-book
              = @user.school
          - if @user.work
            .info-item
              %span.glyphicon.glyphicon-briefcase
              = @user.work
          - if not @user.networks.empty?
            .info-item
              %span.glyphicon.glyphicon-cloud
              = @user.networks.map(&:name).join(', ')

      %h3.username
        #{@user.first_name}'s Lessons
      - @skills.each do |skill|
        = render partial: "skills/skill_short", locals: {skill_short: skill}



    .col-md-8
      .box
        - if @user == current_user
          = link_to "Edit profile", edit_user_path(@user)
        .about-section
          %h3
            About #{@user.first_name}
          .bio
            %h4 Bio
            %p
              = @user.bio

      - if not (@user.teaching_reviews.empty? and @user.learning_reviews.empty?)
        .box
          .review-section
            %h3
              Reviews
            - if not @user.teaching_reviews.empty?
              %h5 From students
            = render partial: "skills/review_short", collection: @user.teaching_reviews.reverse
            - if not @user.learning_reviews.empty?
              %h5 From teachers
            = render partial: "skills/review_short", collection: @user.learning_reviews.reverse