- if @skills.empty? and @pending_skills.empty?
  .row
    .col-md-8.col-md-offset-2
      .box
        test
- if not @skills.empty?
  .approved-lessons
    %h2.heading 
      = @user == current_user ? "Your Lessons" : "#{@user.first_name}'s Lessons"
    .grid
      = @skills.each_slice(3) do |slice|
        .row
          - slice.each do |skill|
            .col-xs-12.col-sm-6.col-md-4
              = render partial: "skills/skill_short", locals: {skill_short: skill}
- if @pending_skills and not @pending_skills.empty?
  .pending-lessons
    %h2.heading Pending Approval
    .grid
      = @pending_skills.each_slice(3) do |slice|
        .row
          - slice.each do |skill|
            .col-xs-12.col-sm-6.col-md-4
              = render partial: "skills/skill_short", locals: {skill_short: skill}