.skill
  .row
    .col-md-7
      .box
        - if @skill.approved == false
          .pending-approval
            Pending approval
        .row
          .col-md-12
            %h2.title
              = @skill.title
        .row
          .col-md-6
            %a{href: user_path(@skill.user), class: "circle-overlay"}
              = image_tag @skill.user.picture
            %h4.instructor
              = link_to @skill.user.name, user_path(@skill.user)
        .row
          .col-md-6
            .social-share
              .facebook
                .fb-share-button{"data-href" => "#{request.original_url}", "data-type" => "button_count"}
              .twitter
                %a.twitter-share-button{"data-via" => "comelearnto", href: "https://twitter.com/share"} Tweet
          %hr.div-line
        .action-links
          - if current_user == @skill.user
            = link_to 'Edit', edit_skill_path(id: @skill.id)
            = link_to 'Remove', remove_skill_path(@skill)
        %h4 Description
        .description
          = simple_format(@skill.description)
        .qualifications
          .qualifications-heading
            %h4 Qualifications
          .qualification-text
            = simple_format(@skill.qualifications)
        - if @skill.approved
          - if current_user
            %button.btn.btn-custom.contact{"data-target" => "#lessonModal", "data-toggle" => "modal"} Contact to find a time and place!
          - else
            = link_to "Sign up or log in", login_path(return_to: @return_to), class: "btn btn-custom contact"
          - if current_user != @skill.user
            .also-teach
              %p Think you can also teach this?  #{link_to 'Sign up to teach', new_skill_path}

      .box
        %h3 Reviews
        - if @show_review_form
          .add-review
            = render partial: "add_review", locals: {lesson: @lesson, review: @review, user: current_user, target_user: @skill.user}
        .reviews
          = render partial: "review_short", collection: @reviews.reverse

    .col-md-5
      .skill-image-full
        = image_tag @skill.picture

      - unless @skill.similar_skills.empty?
        .box.recommendations
          %h4
            You might also like these lessons...
          %ul
            - @skill.similar_skills.each do |skill|
              %li
                = link_to skill.title, skill

      - if @completed_lessons && @completed_lessons.length > 0
        .box
          %h4 People who have learned with #{@skill.user.first_name}
          = render partial: "lesson_short", collection: @completed_lessons

#lessonModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4#myModalLabel.modal-title Sign up for the lesson! 
      = form_for([@skill, @skill.lessons.build]) do |f|
        .modal-body
          .form-group
            = f.label :signup, "Sign up"
            %p.help-block
              Tell #{@skill.user.first_name} a little about what you want to learn
            = text_area_tag :learning_request, nil, rows: 2, class: "form-control"
        .modal-footer
          = f.submit "Submit", class: "btn btn-custom"

- if @show_modal
  %script
    $(lessonModal).modal()