.skill
  %meta{content: "http://samples.ogp.me/136756249803614", property: "og:url"}
  %meta{content: "Chocolate Pecan Pie", property: "og:title"}
  %meta{content: "https://fbcdn-dragon-a.akamaihd.net/hphotos-ak-prn1/851565_496755187057665_544240989_n.jpg", property: "og:image"}
  .row
    .span7
      .box
        %h2.title
          = @skill.title
        .container
          .profile-pic.left-column
            = image_tag @skill.user.picture
          %h4.instructor
            = @skill.user.name
        %a.fb{href:"#", class:"btn-auth btn-facebook"} Share
        %hr.div-line
        %h4 Description
        .description
          = @skill.description
        .qualifications
          .qualifications-heading
            %h4 Qualifications
          .qualification-text
            = @skill.qualifications
        %a.btn.btn-primary.contact{"data-toggle" => "modal", href: "#myModal", role: "button"} Sign up for the lesson!
      %br
      - if @skill.reviews.size>0
        .box
          %h4 References
          = render partial: "review_short", collection: @skill.reviews

    .span4
      .box
        .lesson-picture
          .img
            = image_tag @skill.picture
      %br
      -if @skill.lessons.size>0
        .box
          %h4 People who have learned with #{@skill.user.first_name}
          = render partial: "lesson_short", collection: @skill.lessons

#myModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modalrequest
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
      %h3#myModalLabel Sign up for the lesson! 
    = form_tag(@path, :html => { :class => "form-horizontal" } ) do |f|
      = hidden_field_tag 'skill_id', @skill.id
      .modal-body
        %fieldset
          .control-group
            = label_tag :request, "What do you want to learn and why? Tell #{@skill.user.first_name} why you would be fun to teach!", class: "control-label"
            .controls
              = text_area_tag :request, nil, :class=> "request"
      .modal-footer
        .login-button
          - if current_user != nil
            =submit_tag 'Submit', :class=> "submit btn btn-primary"
          -else
            = submit_tag 'Submit with facebook', :class=>"submit btn-auth btn-facebook"
            %p.subtext Signing in allows us to give #{@skill.user.first_name} your email to contact you

#confirmModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modalconfirmation
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
      %h3#myModalLabel Your request has been sent!
    .modal-body
      %fieldset
        .invite
          Learning is more fun when your friends are there with you! 
    .modal-footer
      %a.btn.btn-primary{:href=>"#",:class=>"share"}
        Invite your friends to learn with you!
