.skill
  .row
    .col-md-7.floatright
      .box
        - if @skill.approved == false
          .pending-approval
            Pending approval
        %h2.title
          = @skill.title
        .container
          %a{href: user_path(@skill.user), class: "circle-overlay"}
            = image_tag @skill.user.picture
          %h4.instructor
            = link_to @skill.user.name, user_path(@skill.user)
        %hr.div-line
        %h4 Description
        .description
          = @skill.description
        .qualifications
          .qualifications-heading
            %h4 Qualifications
          .qualification-text
            = @skill.qualifications
        - if @skill.approved
          %button.btn.btn-custom.contact{"data-target" => "#myModal", "data-toggle" => "modal"} Contact to find a time and place!

    .col-md-5
      .box
        .skill-image-full
          = image_tag @skill.picture
      -if @skill.lessons.size>0
        .box
          %h4 People who have learned with #{@skill.user.first_name}
          = render partial: "lesson_short", collection: @skill.lessons

#myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4#myModalLabel.modal-title Sign up for the lesson! 
      = form_for([@skill, @skill.lessons.build], :html => { :class => "form-horizontal" }) do |f|
        .modal-body
          .form-group
            .control-group
              = f.label :learning_request, "What do you want to learn and why? Tell #{@skill.user.first_name} why you would be fun to teach!", class: "control-label"
              = f.text_area :learning_request, class: "form-control"
        .modal-footer
          = f.submit "Submit", class: "btn btn-custom"
          / .login-button
          /   - if current_user != nil
          /     = submit_tag 'Submit', :class=> "submit btn btn-custom"
          /   -else
          /     = submit_tag 'Submit with facebook', :class=>"submit btn-auth btn-facebook"
          /     %p.subtext Signing in allows us to give #{@skill.user.first_name} your email to contact you



#confirmModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h3#myModalLabel Your request has been sent!
      .modal-body
        Learning is more fun when your friends are there with you! 
      .modal-footer
        %a.btn.btn-custom{:href=>"#",:class=>"share"}
          Invite your friends to learn with you!
