- provide(:title, "Lessons - LearnTo")


#skills

%hr.div-line

- if @network
  - if not @events.empty?
    %h2.heading
      Upcoming Lessons at #{@network.name}
    .grid
      .row
        - @events.each do |event|
          .col-xs-12.col-sm-6.col-md-4
            = render partial: "events/event_short", locals: {event_short: event}
  %h2.heading Top lessons at #{@network.name}

  .grid
    .row
      - @network.skills.where("approved = ? AND hidden = ?", true, false).each do |skill|
        .col-xs-12.col-sm-6.col-md-4
          = render partial: "skills/skill_short", locals: {skill_short: skill}

  .new
    %p
      Can't find what you're looking to learn? Make a request   
      = link_to 'here', new_request_path
  / - if @network.id == 2
  %br
  #requests
  %h2.heading
    Open Lesson Requests at #{@network.name}

  %br
  .grid
    .row
      - @network.requests.each do |request|
        .col-xs-12.col-sm-6.col-md-4
          = render partial: "requests/request_short", locals: {request_short: request}
- else
  - if not @events.empty?
    %h2.heading
      Upcoming Lessons at MIT
    .grid
      .row
        - @events.each do |event|
          .col-xs-12.col-sm-6.col-md-4
            = render partial: "events/event_short", locals: {event_short: event}
  %h2.heading
    Public lessons at MIT
  .grid
    .row
      - @skills.each do |skill|
        .col-xs-12.col-sm-6.col-md-4
          = render partial: "skills/skill_short", locals: {skill_short: skill}


.new
  %p
    Can't find what you're looking to teach? Create a lesson    
    = link_to 'here', new_skill_path


- if current_user
  #aboutMeModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
    .modal-dialog
      .modal-content
        = form_for(@user) do |f|
          .modal-header
            %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
            %h4#myModalLabel.modal-title Last step.  Tell us a little about yourself!
          .modal-body
            Fill out this information so others can know you better.  You can always edit this information by visiting your user profile.
            %hr.div-line
            .form-group
              = f.label :email
              %p.help-block
                We'll use this to send you an email when others contact you. No one can see it except for you.
              .input-group
                %span.input-group-addon @
                = f.text_field :email, class: "form-control"
            %hr.div-line
            .form-group
              = f.label :bio, "Biography"
              %p.help-block
                Tell others a little bit about yourself.  This makes them more likely to learn and teach with you.
              .input-group
                %span.input-group-addon
                  %span.glyphicon.glyphicon-user
                = f.text_area :bio, rows: 6, class: "form-control", placeholder: 'i.e. "I\'m a first year graduate student at MIT studying Mechanical Engineering.  I find teaching to be a great way of giving back, and meeting new people who are as passionate about learning as I am.  In my free time, I spend time hacking computer system (together and apart) and drink obscene amounts of coffee."'
            %hr.div-line
            .form-group
              = f.label :location, "Location"
              %p.help-block
                Where are you currently located?  It helps others find classes near them!
              .input-group
                %span.input-group-addon
                  %span.glyphicon.glyphicon-map-marker
                = f.text_field :location, class: "form-control", placeholder: "i.e. 'Cambridge, Massachusetts'"
            %hr.div-line
            .form-group
              = f.label :school, "School"
              %p.help-block
                Where do you, or have you gone to school?
              .input-group
                %span.input-group-addon
                  %span.glyphicon.glyphicon-book
                = f.text_field :school, class: "form-control", placeholder: "i.e. 'Massachusetts Institute of Technology'"
            %hr.div-line
            .form-group
              = f.label :work, "Work"
              %p.help-block
                Where do you, or have you worked?  Others find this information useful.
              .input-group
                %span.input-group-addon
                  %span.glyphicon.glyphicon-briefcase
                = f.text_field :work, class: "form-control", placeholder: "i.e. 'Google, J.P. Morgan'"
            %hr.div-line
            .form-group
              = f.label :network_ids, "Networks"
              %p.help-block
                Which networks are you apart of?  Don't worry if you don't see one, there are pleanty of public lessons.  If you want your group or organization listed here, #{mail_to "founders@learnto.com", "contact us"}.
              .input-group
                %span.input-group-addon
                  %span.glyphicon.glyphicon-cloud
                  -if @network
                    = f.select :network_ids, options_for_select([[@network.name, @network.id]], [@network.name, @network.id]), {}, :multiple => true, class: "form-control"
                  -else
                    = f.select :network_ids, Network.all.collect {|x| [x.name, x.id]}, {}, :multiple => true, class: "form-control"
          .modal-footer
            = f.submit "Submit", class: "btn btn-custom"
            = link_to "Cancel", "#", class: "btn btn-custom", data: {dismiss: "modal"}


- if @show_user_bio
  %script
    $(aboutMeModal).modal()