.skill
  .row
    .col-md-7
      .box
        - if @event.approved == false
          .pending-approval
            Pending approval
        .row
          .col-md-12
            %h2.title
              = @event.title
        .row
          .col-md-6
            %a{href: user_path(@event.user), class: "circle-overlay"}
              = image_tag @event.user.picture
            %h4.instructor
              = link_to @event.user.name, user_path(@event.user)
        .row
          .col-md-6
            .social-share
              .facebook
                .fb-share-button{"data-href" => "#{request.original_url}", "data-type" => "button_count"}
              .twitter
                %a.twitter-share-button{"data-via" => "comelearnto", href: "https://twitter.com/share"} Tweet
          %hr.div-line
        .action-links
          - if current_user == @event.user
            = link_to 'Edit', edit_event_path(id: @event.id)
            / = link_to 'Remove', remove_skill_path(@event)
        - if not @event.description.empty?
          %h4 Description
          .description
            = simple_format(@event.description)
        - if not @event.qualifications.empty?
          %h4 Qualifications
          .description
            = simple_format(@event.qualifications)
        - if @event.approved
          - if current_user
            %button.btn.btn-custom.contact{"data-target" => "#myModal", "data-toggle" => "modal"} Sign up!
          - else
            = link_to "Sign up or log in", login_path(return_to: @return_to), class: "btn btn-custom contact"


    .col-md-5
      .skill-image-full
        = image_tag @event.picture

      .box
        %h3 Lesson details
        .lesson-info
          .info-item
            %span.glyphicon.glyphicon-map-marker
            = @event.address
          .info-item
            %span.glyphicon.glyphicon-calendar
            = @event.starts_at
          - if @event.students.count > 0
            .info-item
              %span.glyphicon.glyphicon-user
              #{pluralize(@event.students.count, 'person')} attending 

#myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4#myModalLabel.modal-title Lesson details
      .modal-body
        .lesson-info
          .info-item
            %span.glyphicon.glyphicon-map-marker
            = @event.address
          .info-item
            %span.glyphicon.glyphicon-calendar
            = @event.starts_at
      .modal-footer
        = link_to "Sign up", attend_event_path, method: 'post', class: "btn btn-custom"
