.request
  .row
    .col-md-7
      .box
        - if @request.approved == false
          .pending-approval
            Pending approval
        .row
          .col-md-12
            %h2.title
              = @request.title
        .row
          .col-md-6
            %a{href: user_path(@request.user), class: "circle-overlay"}
              = image_tag @request.user.picture
            %h4.instructor
              = link_to @request.user.name, user_path(@request.user)
        .row
          .col-md-6
            .social-share
              .facebook
                .fb-share-button{"data-href" => "#{request.original_url}", "data-type" => "button_count"}
              .twitter
                %a.twitter-share-button{"data-via" => "comelearnto", href: "https://twitter.com/share"} Tweet
          %hr.div-line
        .action-links
          - if current_user == @request.user
            = link_to 'Edit', edit_request_path(id: @request.id)
            = link_to 'Remove', remove_request_path(@request)
        %h4 Description
        .description
          = simple_format(@request.description)
        - if current_user
          %button.btn.btn-custom.contact{"data-target" => "#lessonModal", "data-toggle" => "modal"} Can you help #{@request.user.first_name} learn this? Contact to find a time and place!
        - else
          = link_to "Sign up or log in", login_path(return_to: @return_to), class: "btn btn-custom contact"

    .col-md-5
      .skill-image-full
        = image_tag @request.picture


#lessonModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4#myModalLabel.modal-title Teach this lesson! 
      = form_for([@request, @request.lessons.build]) do |f|
        .modal-body
          .form-group
            = f.label :signup, "Sign up"
            %p.help-block
              Tell #{@request.user.first_name} how you would like to help and when/where you would like to meet.
            = text_area_tag :learning_request, nil, rows: 2, class: "form-control"
        .modal-footer
          = f.submit "Submit", class: "btn btn-custom"

- if @show_modal
  %script
    $(lessonModal).modal()