.lesson
  .row
    .col-md-7.floatright
      .box
        %h2.title
          -if @lesson.skill
            = @lesson.skill.title
        .container
          .circle-overlay
            = image_tag @lesson.users.first.picture
          %h4.instructor
            = @lesson.users.first.name
        %hr.div-line
        %h4 Email
        .email
          =@lesson.users.first.email
        %h4 Message
        .description
        -if current_user == @lesson.teacher
          -if !@lesson.approved
            = link_to "Accept", approve_lessons_path(id: @lesson.id), class: "button btn btn-custom"
            = link_to "Ignore", ignore_lessons_path(id: @lesson.id), class: "button btn btn-custom"
          -elsif !@lesson.completed
            = link_to "Completed", complete_lessons_path(id: @lesson.id), class: "button btn btn-custom"
        -else
          -if !@lesson.approved && !@lesson.ignored
            .pending-approval
              Pending Response
          -elsif !@lesson.approved && @lesson.ignored
            .denied
              Not Accepted
          -elsif @lesson.approved
            .accepted
              Accepted!

    .col-md-5
      .box
        .skill-picture-full
          -if @lesson.skill
            = image_tag @lesson.skill.picture