.skill
  .row
    .col-md-7
      .box
        .row
          .col-md-12
            %h2.title
              = link_to @parent.title, @parent
        .row
          .col-md-6
            %a{href: user_path(@lesson.teacher), class: "circle-overlay"}
              = image_tag @lesson.teacher.picture
            %h4.instructor
              = link_to @lesson.teacher.name, user_path(@lesson.teacher)
      .box
        %h3 Messages
        .messages
          = render "/conversations/reply", conversation: @lesson.conversation
          - @lesson.conversation.messages.order('created_at DESC').each do |message|
            = render "/conversations/message", message: message

    .col-md-5
      .skill-image-full
        = image_tag @parent.picture
      .box
        %h3 Status
        - if current_user == @lesson.teacher
          = form_for @lesson do |f|
            - ['PENDING', 'APPROVED', 'COMPLETED', 'IGNORED'].each do |status|
              .form_row
                %label
                  = f.radio_button(:status, status)
                  = status.humanize
            = f.submit "Submit", class: "btn btn-custom"
        - else
          %p Current status: #{@lesson.status.humanize}
      / - if not current_user == @lesson.teacher
      /   - if @lesson.status == "COMPLETED" and @show_review_form
      /     .box
      /       %h3 Review for #{@parent.user.first_name}
      /       = render partial: "skills/add_review", locals: { lesson: @lesson, review: @review, user: current_user, target_user: @parent.user}

      .box
        %h3 Students
        - @lesson.users.each do |user|
          %p
            = link_to user.name, user
        - if current_user and !@lesson.users.include? current_user
          .join
            = link_to "Join Lesson", add_student_lesson_path(@lesson), class: "btn btn-custom contact"

        / TODO: Invite friends via fb/twitter/email
        / .invite
        /   = link_to "Invite a friend", "#"