.lesson
  .row
    .col-md-7.floatright
      .box
        %h2.title
          -if @lesson.skill
            = @lesson.skill.title
        .container
          %a{href: user_path(@lesson.skill.user), class:"circle-overlay"}
            = image_tag @lesson.skill.user.picture
          %h4.instructor
            = link_to @lesson.skill.user.name, user_path(@lesson.teacher)
        %hr.div-line
        %h4 Messages
        .messages
          =render "/conversations/reply", conversation: @lesson.conversation
          -@lesson.conversation.messages.each do |message|
            =render "/conversations/message", message: message

    .col-md-5
      .box
        .skill-image-full
          -if @lesson.skill
            = image_tag @lesson.skill.picture
      .box
        %h3 Status
        %br
        - if current_user == @lesson.teacher
          - if !@lesson.approved
            = link_to "Accept", approve_lesson_path(id: @lesson.id), class: "button btn btn-custom"
            = link_to "Ignore", ignore_lesson_path(id: @lesson.id), class: "button btn btn-custom"
          - elsif !@lesson.completed
            = link_to "Completed", complete_lesson_path(id: @lesson.id), class: "button btn btn-custom"
        - else
          -if !@lesson.approved && !@lesson.ignored
            .pending-approval
              Pending Response
          - elsif !@lesson.approved && @lesson.ignored
            .denied
              Not Accepted
          - elsif @lesson.approved
            .accepted
              Accepted!