 
%nav.navbar.navbar-custom.navbar-static-top{role: "navigation"}
  .container
    .navbar-header
      %button.nav-pills.navbar-toggle{"data-target" => "#collapse_links", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to (image_tag 'Learnto-logo-transparent.png', :class => 'nav-logo'), root_path
    #collapse_links.nav.navbar-collapse.collapse
      %ul.nav.nav-pills.navbar-left
        %li
          = link_to 'Public Lessons', skills_path(anchor: "skills")
        - if current_user
          - current_user.networks.first(1).each do |network|
            %li
              = link_to network.name + " Lessons",  network_path(network, anchor: "skills")
        %li
          = link_to 'Teach', new_skill_path 
        %li
          = link_to 'Why Teach?', whyteach_path
      %ul.nav.nav-pills.navbar-right
        - if current_user
          %li.dropdown
            %a.dropdownMenu1.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
              - if current_user.unread > 0
                = current_user.name + " (#{current_user.unread})"
              - else
                = current_user.name
              %span.caret
            %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1", role: "menu"}
              %li{role: "presentation"}
                = link_to user_path(current_user) do
                  %span.glyphicon.glyphicon-user
                  Your profile
              %li{role: "presentation"}
                = link_to inbox_conversations_path do
                  %span.glyphicon.glyphicon-envelope
                  Inbox (#{current_user.unread})
              %li.divider{role: "presentation"}
              - if current_user.networks.count > 0
                %li.dropdown-header{role: "presentation"} Your Networks
                - current_user.networks.each do |network|
                  %li{role: "presentation"}
                    = link_to network_path(network, anchor: "skills") do
                      %span.glyphicon.glyphicon-cloud
                      = network.name
                %li.divider{role: "presentation"}
              %li{role: "presentation"}
                = link_to logout_path do
                  %span.glyphicon.glyphicon-log-out
                  Logout
        - else
          %li
            = link_to "Login", login_path(return_to: request.original_url)