%nav.navbar.navbar-custom.navbar-static-top{role: "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => "#collapse_links", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to (image_tag 'Learnto-logo-transparent.png', :class => 'nav-logo'), root_path
    #collapse_links.collapse.navbar-collapse.left-links
      %ul.nav.nav-pills.navbar-left
        %li
          = link_to 'Teach', new_skill_path 
        %li
          = link_to 'About', about_path
      %ul.nav.nav-pills.navbar-right
        - if current_user
          %li
            = link_to current_user.name, user_path(current_user)
          %li
            %a{href: inbox_conversations_path}
              %span.unread.badge.pull-right
                = current_user.unread
              Inbox

        - else
          %li
            = link_to "Login", login_path
          %li
            = link_to "Signup", new_user_path