%nav.navbar.navbar-custom.navbar-static-top{role: "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => "#collapse_links", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to (image_tag 'Learnto-logo-transparent.png', :class => 'nav-logo'), root_path
    #collapse_links
      %ul.nav.nav-pills.navbar-left
        %li
          = link_to 'Lessons', skills_path(anchor: "skills")
        %li
          = link_to 'Teach', new_skill_path 
        %li
          = link_to 'Why Teach?', whyteach_path
      %ul.nav.nav-pills.navbar-right
        - if current_user
          %li.dropdown
            %a.dropdownMenu1.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
              - if current_user.unread > 0
                = current_user.name + " (#{current_user.unread})"
              - else
                = current_user.name
              %span.caret
            %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1", role: "menu"}
              %li{role: "presentation"}
                = link_to "Your profile", user_path(current_user)
              %li{role: "presentation"}
                = link_to "Inbox (#{current_user.unread})", inbox_conversations_path
              %li.divider{role: "presentation"}
              - if current_user.networks.count > 0
                %li.dropdown-header{role: "presentation"} Your Networks
                - current_user.networks.each do |network|
                  %li{role: "presentation"}
                    = link_to network.name, network_path(network, anchor: "skills")
                %li.divider{role: "presentation"}
              %li{role: "presentation"}
                = link_to "Logout", logout_path
        - else
          %li
            = link_to "Login", login_path
          %li
            = link_to "Signup", new_user_path