!!!
%html
  %head
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "LearnTo"
    %meta{content: content_for?(:description) ? yield(:description) : "LearnTo", name: "description"}/
    = stylesheet_link_tag "application", :media => "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => false
    = csrf_meta_tags
    = render 'layouts/shim'
  %body
    = render 'layouts/header'  unless @disable_nav
    = render 'layouts/messages'
    = yield
  %footer
    = render 'layouts/ga'